.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weapon-card {
  display: flex;
  gap: 20px;
}

.weapon-item {
  width: 200px;
  height: 200px;
}
