body {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.screen-mode{
align-self: flex-end;
}

.fa-sun,
.fa-moon {
  font-size: 36px;
  background-color: rgb(126, 126, 126);
  padding: 10px;
  border-radius: 50%;
  color: rgb(232, 246, 129);
  margin: 10px;
}

.container-home,
.container-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weapon-cards {
  display: flex;
  gap: 20px;
}

.weapon-item {
  font-size: 96px;
  color: #ffff;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  margin: 0;

}

.weapon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 12px;
  background-color: #fff;
  color: #000;
}

.weapon-cards > h3 {
  margin: 0 0 20px 0;
}

.scissors {
  background-color: rgb(111, 201, 240);
}
.rock {
  background-color: rgb(150, 214, 98);
}

.paper {
  background-color: rgb(205, 89, 234);
}

.start-game {
  padding: 10px 20px 10px 20px;
  background-color: rgb(241, 92, 164);
  color: #ffff;
  margin-top: 25px;
  border-radius: 10px;
  border: 2px solid #000;
}

.header {
  background-color: rgba(131, 131, 131, 0.512);
  color: #ffff;
  width: 100%;
  display: flex;
}

.footer {
  background-color: rgba(131, 131, 131, 0.512);
  color: #ffff;
  width: 100%;
  text-align: center;
}

.show-off-content {
  display:none;
}

.container-home-img img {
  width: 330px;
  height: 330px;
  background-color: #fff;
  border-radius: 25%;
  border: 2px solid #000;
  padding: 20px;
}
