

body{
  background-color: rgb(226, 226, 226);
  margin: 0;
}
.icon {
  width: 1em;
  height: 1em;
  color: #fff;
  background-color: #fff;
  border-radius: 50%;
  padding: 3px;
}

ul li {
  display: flex;
  list-style: none;
  font-weight: bold;
  gap: 5px;
  margin: 5px;
  align-items: center;
}

.projects {
  display: grid;
  grid-column: 2/5;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.menu {
  grid-column: 1/2;
  grid-row: 1/6;
  background-color: rgb(40, 150, 225);
  color: rgb(255, 255, 255);
  padding: 20px;
  max-width: 220px;
  min-width: 220px;
}
.additional {
  grid-column: 5/6;
  grid-row: 2/6;
  grid-template-columns: 200px;
  padding: 15px;
  max-width: 300px;
}

.page {
  display: grid;
}

.project-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 300px;
  height: 240px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: auto;
  border-left: 5px solid rgb(241, 136, 16);
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  grid-column: 2/6;
  align-items: center;
  gap: 10px;
}

.announcements {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}

.trending {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  gap: 15px
}

.avatar-image {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  align-self: center;
}

.trending > div {
  display: flex;
  gap: 20px;
}

.name-description {
  display: flex;
  flex-direction: column;
  line-height: 0;
  font-size: 14px;
  color: rgb(138, 138, 138);
}

.name {
  color: rgb(100, 100, 100);
  font-weight: bold;
}

.project-card ul {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  gap: 20px;
}

.main-avatar-card {
  display: flex;
  gap: 35px;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

.main-avatar-image{
  height: 4em;
  width: 4em;
  border-radius: 50%;
}

button{
 background-color: rgb(40, 150, 225);
 color: #fff;
 padding: 10px 20px;
 border: 0;
 border-radius: 50px;
}

.avatar-nav {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.first-section,
.second-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttons {
  gap: 30px;
}

input {
  width: 500px;
  height: 1.8em;
  border-radius: 10px;
  border: 0;
  background-color: rgb(225, 225, 225);
}

.container-projects {
  padding: 15px;
}
